/*** theme ***/
p,a,ul,a li,tbody,thead,b,i,table,label{
    font-family: Quicksand;
    color:white;
    font-size: 14px;
}

h1,h2,h3{
    font-family: Montserrat;
    color:white;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.sous-titre{
    font-family: Montserrat;
}

body {
    margin: 0 auto;
    width: 90%;
    background: #333;
}

#main-profile{
    display: flex;
    margin:0 auto;
}

.bloc-profil{
    background: #3c3c3c;
    padding: 20px;
    width: 15%;
    margin: 10px;
}

#bloc-post{
    width:65%;
}

.cta{
    background:#c3ff99;
    border-radius: 20px;
    color:#333;
    font-family: Montserrat;
    padding: 8px;
}

.cta:hover{
    text-decoration: none !important;
    background:palegreen;
}

.cta i{
    color:#333;
}


.sm-txt{
    font-size: 10px !important;
    font-style: italic;
}

.post-line{
    background: #333;
    border-radius: 20px;
    padding: 5px;
    margin-top:10px;
}

#bloc-flip{
    background: #3c3c3c;
    padding: 10px;
    width: 30%;
}

.example-wrapper h2 {
    text-align:left;
}

.example-wrapper h1 {
    text-align:center;
}

/*** top navbar ***/
.mb-3 {
    color: white;
    padding: 10px;
}

.mb-3 ul a li:hover{
    color: palegreen;
}

.mb-3 ul{
    padding: 0;
    margin: 0;
}

.mb-3 a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin: 10px;
}

.mb-3 ul a li {
    display: inline;
}

.mb-3 a:hover {
    color: grey;
}

.mb-3 a:visited {
    color: white;
    text-decoration: none;
}

.mb-3 a:visited:hover {
    color: lightgrey;
    text-decoration: none;
}

/*** textes ***/
.main-navbar{
    margin:0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.main-navbar li{
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

.main-navbar li i:hover{
    color:#c3ff99;
}

.main-navbar {
    font-size: 12px;
    padding:0;
    margin-left: 20px;
}

.example-wrapper { 
    width: 100%; 
    text-align: center;
    font: 18px/1.5 sans-serif; 
}

.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}

.example-wrapper.info{
    line-height: 0.3em;
}

.example-wrapper.info{
    text-align: left;
}

.media,.number{
    font-family: 'Montserrat';
    font-weight: bold;
}

/*** ***/
@font-face {
    font-family: CreamCake;
    src: url('../fonts/cream_cake/cream.ttf');
}