{% extends 'base.html.twig' %}

{% block title %}FootFans - Liste des clubs{% endblock %}

{% block body %}
    <h1>Clubs de Ligue 1</h1>

    <div id="club-list">

        {% for club in clubs %}
        
        <a href="{{ path('club_show', {'id': club.id}) }}">
            <div class="club-card">
            <img src="{{ club.logo }}" style="height:30px;" alt="" />
                <p>{{ club.name }}</p>
                <p>{{ club.users|length}} <i class="fas fa-users"></i></p>
            </div>
        </a>

        {% else %}

                <p>no records found</p>
                
        {% endfor %}

    </div>

{% endblock %}

